/*********************************************
Autor: Gabriel Araya Rocha
Mail: gabo.araya@gmail.com 
URL: http://portrait.cl/
Fecha: 11/2008
**********************************************/
body{
	margin: 0px;
	padding: 0px;
	background: #FFE5EE;
	font: 0.8em/1em "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}
#wrapper{
	width: 760px;
	margin: 20px auto;
	padding: 0px;
/*	background: #FFF;*/
	background: #FFF;
	border: 1px solid #FF5591;
}
#skip{
	display: none;
	font-size: 0em;
	text-decoration: none;
}
.hidden{
	display: none;
	font-size: 0em;
	text-decoration: none;
}
#header{
	height: 150px;
	margin: 0px 0px 2em;
	background: #0099FF;
	border-bottom: 1px solid #FFF;
}

#navigation{
	width: 200px;
	margin: 3em 0px 1em 1em;
	padding: 0;
	font: bold 1.2em "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	overflow: hidden;
	line-height: 1.5em;
}

#navigation li{
	text-transform: capitalize;
}

#navigation li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 8px 4px 8px 12px;
	background: url(../img/blockdefault.png) center center;
}

#navigation li a:visited{
	color: white;
	display: block;
}

#navigation li a:hover, #navigation li .current{
	color: #990000;
	background: #006699 url(../img/blockactive.png);
}
#content{
	float: right;
	width: 68%;	
}
#content h1{
	font-size: 1.4em;
	border-bottom: 1px solid #FF5591;
	color: #FF5591;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
	text-indent: 5px;
	padding: 5px;
}
.article{
	margin: 0px 15px 15px;
	padding: 0px 15px 15px;
	background: #FFE8F0;
}
.article h1{
	font-size: 1.2em;
	border-bottom: 1px solid #000000;
	color: #000000;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
}
.article h1 a:hover{
	color: #FF0000;
	text-decoration: none;
}
.article h2{
	border-bottom: 1px solid #000000;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	font: bold 1.1em Georgia, "Times New Roman", Times, serif;
}
.article h2 a:hover{
	color: #FF0000;
	text-decoration: none;
}
.article p{
	text-align: justify;
	text-indent: 25px;
	line-height: 1.8em;
	margin-top: 5px;
	margin-bottom: 5px;
}
.article img, #side img{
	background: #FFFFFF;
	margin: 10px;
	padding: 10px;
	border: 1px solid #000000;
}
.article a, #side a{
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}

.article a:hover, #side a:hover{
	color: #FF0000;
	text-decoration: underline;
}

.article blockquote, .article .code{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 10px auto;
	width: 70%;
}
.article blockquote{
	padding: 15px 20px 15px 35px;
	background: #FFFFFF url(../img/blockquote.gif) no-repeat left top;
}
.article .code{
	padding: 15px;
	background: #FFFFFF url(../img/code.gif) no-repeat left top;
	font: 12px "Courier New", Courier, mono;
	overflow: auto;
	white-space: nowrap;
}
.article .code ol{
	padding-left: 10px;
	list-style-type: decimal;
	margin: 0px;
	text-indent: 15px;
}
.article .code li{
	margin-top: 5px;
	margin-bottom: 5px;
}
.article ul{
	padding-left: 50px;
	list-style-type: disc;
	margin: 10px;
	text-indent: 2em;
}
.article ol{
	padding-left: 50px;
	list-style-type: decimal;
	margin: 10px;
	text-indent: 2em;
}
.article li{
	margin-top: 10px;
	margin-bottom: 10px;
}
.article-data{
	font-size: 0.9em;
	text-align: right;
}
.article acronym {
	border-bottom: 1px dotted #000;
}
.side{
	width: 200px;
	background: #FFFFFF;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.5em;
	margin-left: 1em;
}
.side h3 {
	background: url(../img/blockactive.png);
	color: #FFF;
	font-size: 1.2em;
	line-height: 40px;
	text-transform: capitalize;
	margin: 0px;
	padding-top: 0px;
	text-align: center;
}
.side p{
	text-indent: 10px;
	margin: 10px;
}
.side ul {margin: 0; padding: 0;}
.side li {
	border-bottom: 1px solid #006699;
	list-style: none;
}
a {
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FF0000;
	font-weight: bold;
	text-decoration: underline;
}
.sidebox {
	border: 1px solid #DD9DD7;
	margin-bottom: 1em;
}

acronym {
	border-bottom: 1px dotted #FFFFFF;
}
#footer, #credits{
	background: #FFE8F0;
	color: #990000;
	font-size: 0.9em;
	clear: both;
	text-align: center;
	padding: 5px;
	line-height: normal;
	border-top: 1px solid #FF5591;
}
#footer a, #credits a{
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
#footer a:hover, #credits a:hover{
	color: #990000;
	text-decoration: underline;
	font-weight: bold;
}
.fecha {
	font-size: 0.9em;
	line-height: normal;
	margin-right: 15px;
	margin-bottom: 10px;
}
.leermas {
	font-size: 0.9em;
	text-align: right;
	line-height: normal;
	margin-right: 15px;
	margin-bottom: 10px;
}
.paginar {
	padding: 10px;
	font-size: 0.9em;
	text-align: center;
	margin: 10px auto;
}

.paginar em{
	padding: 8px 4px;
	font-weight: bold;
	border: 1px solid #000000;
	text-decoration: none;
	margin: 2px;
	color: #000000;
	font-style: normal;
	background: #FFFFFF;
}

.paginar a{
	padding: 3px 4px 4px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #666;	
	margin: 2px;
	color:#666;
}

.paginar a:hover{
	border: 1px solid #006699;
	color: #006699;
	background: #FFFFFF;
	text-decoration: none;
}
